<h2>Password Change</h2>
<form asp-action="PasswordChange" asp-controller="Account">

    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">@Html.TextBox("previousPassword", "", new { @placeholder = "Type Current Password" })</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">@Html.TextBox("newPassword", "", new { @placeholder = "Type New Password" })</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">@Html.TextBox("newPasswordRepeat", "", new { @placeholder = "Re-type New Password" })</div>
    </div>

    <div class="row col-lg-1 col-md-1 col-lg-1 col-sm-3 col-xs-4">
        <input type="submit" class="btn-block" />
    </div>
</form>

<div class="danger">@ViewBag.Validation</div>