@model MentalHealthApp.ViewModels.UserViewModel

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
    #wrap { text-align: center; }
    #raisedHand { margin-top: 10px; }
    #message {
        display: inline-block;  margin: auto;
        margin-top: 10px;       border-radius: 20px;
        background: #ffffff;    border: 2px solid #ffffff;    
        padding: 5px;
    }
    #done {
        display: flex;
        visibility: hidden;
        margin-top: 10px;
    }

</style>

@{
    ViewData["Title"] = "WorriedGame";
}

<div id="wrap">
    <div id="message">
        <h2>
            We all feel worried sometimes.
            @{WriteLiteral(Model.Avatar);} is worried that she won’t be ready for school
            because she is muddy after she rolled in the mud. Can you help clean her?
        </h2>
    </div>
    <br /> <br /> <br />
    <img id="hippo" onclick="imageClick(this);" src="/images/worriedGame/Hippo8.png" height="283" width="600" />
    <br />
    <button id="done" class='btn btn-success' onclick="location.href='@Url.Action("", "diagnostic")'">Go to school!</button>
</div>

<script>
    function startGame() {
        redGamePiece = new component(75, 75, "red", 10, 10);
        yellowGamePiece = new component(75, 75, "yellow", 50, 60);
        blueGamePiece = new component(75, 75, "blue", 10, 220);
        myGameArea.start();
    }
    var myGameArea = {
        canvas: document.createElement("canvas"),
        start: function () {
            this.canvas.width = 480;
            this.canvas.height = 270;
            this.context = this.canvas.getContext("2d");
            document.body.insertBefore(this.canvas, document.body.childNodes[0]);
            this.frameNo = 0;
        },
        clear: function () {
            this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
        }
    }
    document.body.style.background = "DarkOrange";
    function imageClick() {
        $(document).ready(function () {
            if (String($("#hippo").attr("src")) === "/images/worriedGame/Hippo8.png") {
                $("#hippo").attr("src", "/images/worriedGame/Hippo6.png");
            } else if (String($("#hippo").attr("src")) === "/images/worriedGame/Hippo6.png") {
                $("#hippo").attr("src", "/images/worriedGame/Hippo4.png");
            } else if (String($("#hippo").attr("src")) === "/images/worriedGame/Hippo4.png") {
                $("#hippo").attr("src", "/images/worriedGame/Hippo2.png");
            } else if (String($("#hippo").attr("src")) === "/images/worriedGame/Hippo2.png") {
                $("#hippo").attr("src", "/images/worriedGame/Hippo.png");
            } else {
                document.getElementById('done').style.visibility = 'visible';
            }
        });
    }
</script>

